{% include 'head.html' %}
<body>
    <div class="container">
        <div class="header">
            {% if username %}
                <span>Привет, {{ username }}</span> &nbsp;&nbsp;&nbsp;
                {% if status == "admin" %}
                    <a href="{{ url_for('control') }}"><h4>Панель управления</h4></a>
                {% endif %}
            {% endif %}
        </div>

        <div class="main-title" align="center">
            <h3>Выберите камеру</h3>
        </div>

        <div id="notification" class="notification"></div>
        <div class="camera-grid">
            {% for cam_id, url in camera_configs.items() %}
                <div class="camera-grid-item">
                    <a href="{{ url_for('view_camera', cam_id=cam_id) }}" class="camera-btn">
                        Камера {{ cam_id }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</body>