{% include 'head.html' %}
<div class="container">
    {% if status != "admin" %}
        <div class="header">
            <form method="POST" action="{{ url_for('login') }}">
                <input type="text" name="user" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Войти</button>
            </form>
        </div>
    {% endif %}
    {% if status == "admin" %}
        <div class="header">
            <h5>Панель управления
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='image/home.png') }}" alt="Главная"></a>
                <a href="{{ url_for('logout') }}">
                    <img src="{{ url_for('static', filename='image/exit.png') }}" alt="Выйти"></a>
            </h5>
        </div>
        <div class="content">
            <div class="left-column">
                <div class="add-camera">
                    <h5>Указать диапазон поиска</h5>
                    <h6><i>Актуальный диапазон поиска {{ current_range }}</i></h6>
                    <form method="post" action="{{ url_for('update_route') }}" enctype="multipart/form-data" style="display: flex; align-items: center; gap: 10px;">
                        <input type="text" name="cam_host" id="cam_host" required>
                        <input type="text" name="subnet_mask" required>
                        <input type="submit" value="Добавить">
                    </form>
                </div>
                <div class="add-camera">
                    <h5>Добавить камеру</h5>
                    <p><i>Example: rtsp://user:password@192.168.1.4:554/h265</i><br>
                       <i>Example: rtsp://user:password@192.168.1.4:554/live/ch00_1</i></p>
                    <form method="post" action="{{ url_for('add_new_camera') }}" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 10px;">
                        <div>
                        <label for="new_cam">Маршрут:</label>
                            <input type="text" name="new_cam" id="new_cam" required>
                        </div>
                        <div style="display: flex; gap: 20px; align-items: center;">
                            <label for="motion_detection">Детекция движения:</label>
                            <input type="checkbox" name="motion_detection" id="motion_detection" value="1">
                            <label for="visible_cam">Видимость камеры:</label>
                            <input type="checkbox" name="visible_cam" id="visible_cam" value="1">
                            <label for="screen_cam">Скриншот:</label>
                            <input type="checkbox" name="screen_cam" id="screen_cam" value="1">
                        </div>
                        <input type="submit" value="Добавить">
                    </form>
                    {% if get_flashed_messages(with_categories=True) %}
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                            {% if category in ['camera_success', 'camera_error', 'rtsp_error'] %}
                                <p class="message-{{ category }}">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="add-user">
                    <h5>Добавить пользователя</h5>
                    <form method="post" action="{{ url_for('add_new_user') }}" enctype="multipart/form-data">
                        <input type="text" name="new_user" id="new_user" required>
                        <input type="text" name="new_password" id="new_password" required>
                        <select name="status" id="status" required>
                            <option value="user">Пользователь</option>
                            <option value="admin">Администратор</option>
                        </select>
                        <div align="right"><input type="submit" value="Добавить"></div>
                    </form>
                    {% if get_flashed_messages(with_categories=True) %}
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                            {% if category in ['user_success', 'user_error', 'user_deleted', 'admin_not_deleted', 'password_error'] %}
                                <p class="message-{{ category }}">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% for row in all_users %}
                        <div class="camera-item">
                            {{ row.id }} || {{ row.user }} || {{ row.status }}
                            <a href="{{ url_for('delete_user', ssid=row.id) }}">
                                <img src="{{ url_for('static', filename='image/trash.png') }}" alt="Удалить"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right-column">
                <div class="camera-list">
                    <button onclick="scanRTSP()">Сканировать сеть</button>
                        <ul id="rtsp-list"></ul>
                            <script>
                                async function scanRTSP() {
                                    try {
                                        const response = await fetch('/scan_network_for_rtsp', {
                                            headers: {
                                                'Authorization': 'Bearer ' + localStorage.getItem('token')
                                            }
                                        });
                                    if (!response.ok) {
                                        throw new Error(`Ошибка: ${response.statusText}`);
                                    }
                                    const devices = await response.json();
                                    const listElement = document.getElementById('rtsp-list');
                                    listElement.innerHTML = '';
                                    if (devices.length === 0) {
                                        listElement.innerHTML = '<li>Ничего не найдено</li>';
                                    } else {
                                    devices.forEach(device => {
                                        const item = document.createElement('li');
                                        item.textContent = `IP: ${device.ip}, Порт: ${device.port}`;
                                        listElement.appendChild(item);
                                    });
                                }
                                } catch (err) {
                                alert('Ошибка при сканировании: ' + err.message);
                                }
                            }
                        </script>
                    <br>
                    =================================
                    <h5>Список камер || <a href="#" onclick="reloadCameras()">Переинициализировать камеры</a></h5>
                    {% for row in all_cameras %}
                        <div class="camera-item">
                            {% if not row.visible_cam %}
                            <img src="{{ url_for('static', filename='image/red.png') }}" title="Камера отключена">
                            {% else %}
                            <img src="{{ url_for('static', filename='image/green.png') }}" title="Камера включена">
                            {% endif %} &nbsp;&nbsp;
                            {% if not row.status_cam %}
                            <img src="{{ url_for('static', filename='image/red.png') }}" title="Детекция движения отключена">
                            {% else %}
                            <img src="{{ url_for('static', filename='image/green.png') }}" title="Детекция движения включена">
                            {% endif %}
                            {% if not row.screen_cam %}
                            <img src="{{ url_for('static', filename='image/red.png') }}" title="Скриншот отключём">
                            {% else %}
                            <img src="{{ url_for('static', filename='image/green.png') }}" title="Скриншот включён">
                            {% endif %}
                            <a href="http://{{ host }}:{{ port }}/video/{{ row.id }}">{{ masked_urls[row.id] }}</a>
                            <a href="#" onclick="reinitializeCamera('{{ row.id }}')">
                                <img src="{{ url_for('static', filename='image/update.png') }}" alt="Переинициализировать" title="Переинициализировать">
                                 </a> &nbsp;
                            <a href="#" onclick="openEditPanel('{{ row.id }}', '{{ row.path_to_cam }}', '{{ url_for('edit_cam', ssid=row.id) }}')">
                                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="Редактировать" title="Редактировать маршрут"></a> &nbsp;
                            <a href="{{ url_for('delete_camera', ssid=row.id) }}">
                                <img src="{{ url_for('static', filename='image/trash.png') }}" alt="Удалить" title="Удалить"></a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="editPanel" class="slide-panel">
            <div class="panel-content">
                <h5>Редактировать маршрут камеры</h5>
                <form id="editForm" method="POST">
                    <label for="cameraId">ID камеры:</label>
                    <input type="text" id="cameraId" name="cameraId" readonly>
                    <label for="cameraPath">Маршрут камеры:</label>
                    <input type="text" id="cameraPath" name="cameraPath" required>
                    <label for="motion_detection">Видимость камеры:</label>
                    <input type="checkbox" name="visible_camera" id="visible_camera" value="0">
                    <label for="motion_detection">Детекция движения:</label>
                    <input type="checkbox" name="motion_detect" id="motion_detect" value="1">
                    <label for="screen_cam">Скриншот:</label>
                    <input type="checkbox" name="screen_cam" id="screen_camera" value="0">
                    <div style="text-align: right; margin-top: 10px;">
                        <button type="button" class="btn-cancel" onclick="closeEditPanel()">Отмена</button>
                        <button type="submit" class="btn-save">Сохранить</button>
                    </div>
                </form>
                {% if category in ['cam_true', 'rtsp_error'] %}
                                <p class="message-{{ category }}">{{ message }}</p>
                            {% endif %}
            </div>
        </div>
    {% endif %}
</div>

<script>
    async function openEditPanel(id, path, endpoint) {
        const panel = document.getElementById('editPanel');
        const form = document.getElementById('editForm');
        const idInput = document.getElementById('cameraId');
        const pathInput = document.getElementById('cameraPath');

        idInput.value = id;
        pathInput.value = path;
        form.action = endpoint;
        panel.classList.add('open');
    }

    function closeEditPanel() {
        const panel = document.getElementById('editPanel');
        panel.classList.remove('open');
    }

    document.getElementById('editForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const form = e.target;
        const formData = new FormData(form);

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
                alert('Камера успешно обновлена!');
                closeEditPanel();
                window.location.reload();
            } else {
                alert('Ошибка при обновлении камеры.');
            }
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Произошла ошибка при отправке данных.');
        }
    });
</script>

<script>
    async function reinitializeCamera(camId) {
    try {
        const response = await fetch(`/reinitialize/${camId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        });
        const result = await response.json();
        if (result.success) {
            alert(`Камера ${camId} успешно переинициализирована`);
        } else {
            alert(`Ошибка переинициализации камеры ${camId}: ${result.error}`);
        }
    } catch (error) {
        alert(`Ошибка при отправке запроса: ${error.message}`);
    }
}
</script>