<html>
{% include 'head.html' %}
<body>
    <div align="right">
        {% if username %}
            Привет, {{ username }}  <br>
<!--        {% endif %}-->
<!--        {% if status == "admin" %}-->
            <a href="/control"><h4>Панель управления</h4></a>
        {% endif %}
        {% if username %}
        </div>
            {% endif %}

        <div align="center">
            <h3>Выберите камеру || <a href="#" onclick="reloadCameras()">Обновить список</a></h3>

<script>
    async function reloadCameras() {
        try {
            const response = await fetch('/reload-cameras', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await response.json();

            if (response.ok) {
                console.log('Список камер обновлен:', data.camera_configs);
                const notification = document.getElementById('notification');
                notification.style.display = 'block';
                notification.textContent = 'Список камер успешно обновлен!';
                const tbody = document.getElementById('cameraTable').querySelector('tbody');
                tbody.innerHTML = '';
                for (const [id, url] of Object.entries(data.camera_configs)) {
                    const row = document.createElement('tr');
                    row.innerHTML = `<td>${id}</td><td>${url}</td>`;
                    tbody.appendChild(row);
                }
                setTimeout(() => {
                    console.log('Перезагрузка страницы...');
                    window.location.reload();
                }, 5000);
            } else {
                console.error('Ошибка:', data.error);
                alert('Ошибка: ' + data.error);
            }
        } catch (error) {
            console.error('Ошибка сети:', error);
            alert('Список камер успешно обновлен! Переинициализация камер. Если страница не перезагрузится через 5 секунд, обновите принудительно');
        }
    }
</script>
        </div>
        <div class="camera-buttons">
            {% for cam_id, url in camera_configs.items() %}
                {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}
                    </div><div class="camera-row">
                {% endif %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="camera-row">
                {% endif %}
                <a href="/video/{{ cam_id }}">
                    <button class="camera-btn">Камера {{ cam_id }}</button>
                </a>
                {% if loop.last and loop.index0 % 3 != 2 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>