{% include 'head.html' %}
<body>
<div class="container">
        <div class="header">
            {% if username %}
                <span>Привет, {{ username }}</span> &nbsp;&nbsp;&nbsp;
                {% if status == "admin" %}
                    <a href="{{ url_for('control') }}"><h4>Панель управления</h4></a>
                {% endif %}
            {% endif %}
        </div>

        <div class="main-title" align="center">
            <h3>Выберите камеру</h3>
        </div>

        <div id="notification" class="notification"></div>

        <div class="camera-buttons">
            {% for cam_id, url in camera_configs.items() %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="camera-row">
                {% endif %}
                <a href="{{ url_for('video_feed', cam_id=cam_id) }}">
                    <button class="camera-btn">Камера {{ cam_id }}</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                {% if loop.index0 % 3 == 2 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</body>