{% include 'head.html' %}
<body>
  <div class="login-container">
    <div class="login-box">
      <h2 class="login-title">Вход в систему</h2>
      <form method="post" action="/login" enctype="multipart/form-data">
        <label for="user">Логин:</label>
        <input type="text" id="user" name="user" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Загрузить" class="camera-btn">
      </form>

      {% if success %}
        <div class="message-success">{{ success }}</div>
      {% endif %}
    </div>

  </div>
</body>